@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int i = 0;
}
@model List<EmployManagement.Models.Employee>
<style>

    .button {
        background-color: green;
        color: white;
        border-color: green;
        margin-bottom: 100px;
        margin-top: 100px;
        margin-left: 55%;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
    }

    .button1 {
        background-color: red;
        color: white;
        border-color: red;
        margin-bottom: 100px;
        margin-top: 100px;
        margin-left: 55%;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
    }

    thead {
        background-color: blue;
        color: white;
        font-weight: bold
    }

    table {
        border-color: blue;
        text-align: center;
    }

    #head {
        text-align: center;
        font-weight: bold;
    }
    
       
    
</style>

    <table class="table">
       
<thead>
    <tr>
        <th>S.no</th>
        <th>Employee Id</th>
        <th>Name</th>

        <th>Address</th>

        <th>Phone Number</th>

        <th>Birthdate</th>

        <th>Email</th>
        <th>Salary</th>
        <th>Department</th>
    </tr>
</thead>
<tbody>
    
        @foreach (EmployManagement.Models.Employee item in Model)
        {
            i++;
           
            <tr>
                <td style="background-color:pink">@i</td>
                <td style="background-color:pink">@item.EmployeeId</td>
                <td style="background-color:pink">@item.Name</td>
                <td style="background-color:pink">@item.Address</td>
                <td style="background-color:pink">@item.PhoneNumber</td>
                <td style="background-color:pink">@item.Birthdate </td>
                <td style="background-color:pink">@item.Email</td>
                <td style="background-color:pink">@item.Salary</td>
                <td style="background-color:pink">@item.Department.Name</td>
                <td><a button class="button1" href="GetEmployeeById/@item.Id">View</a></td>
                <td><a button class="button" href="RemoveEmployeeById/@item.Id">Delete</a></td>
                     
       </tr>
        

        }

</tbody>
</table>